.button {
	background: transparent;
	font-size: 1rem;
	border: 2px solid #000000;
	border-radius: 5px;
}

.button:hover {
	background: #000000;
	color: #ffffff;
}

.button:focus {
	outline: none;
}

.button--large {
	padding: 1.2rem;
}

.button--green {
	border: 2px solid #418E43;
	color: #418E43;
}

.button--green:hover {
	background: #418E43;
	color: #ffffff;
}

.button--mt-medium {
	margin-top: 2rem;
}