.hero-image {
	/*margin-top: -9rem;*/
	/*background-image: url(../../images/webdev-bg.jpg);*/
	/*background-repeat: no-repeat;
 	background-size: cover;
	min-height: 95vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;*/
}

.hero__title {
	font-size: 5.5rem;
	font-family: 'Permanent Marker', cursive;
}

.hero__subtitle {
	font-size: 2rem;
}