.navbar__logo {
	display: flex;
	font-family: 'Permanent Marker', cursive;
	font-size: 2rem;
}

.navbar__logo:hover {
	cursor: pointer;
}

.navbar__logo a {
	text-decoration: none;
	color: #ffffff;
}
