.card-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
}

.card {
	flex: 0 1 auto;
	text-align: center;
	background-color: #f7f7f7;
	border-radius: 5px;
	padding: 0 0 0.75rem 0;
	box-shadow: 0px 0px 19px 0px #cacaca;
}

.card__content {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0.25rem 0;
}

.card__title {
	margin: 0.25rem;
}

.card__desc {
	flex: 1 0 auto;
	text-align: left;
	margin: 0;
	padding: 0.75rem;
	font-size: 1rem;
}

.card__tech {
	display: flex;
	font-size: .75rem;
	list-style-type: none;
	color: grey;
	padding: 0.5rem;
}

.card__tech-list-item {
	margin: 0 0.25rem;
	border: 1px solid grey;
	border-radius: 20px;
	padding: 0.25rem;
}

.card__icon {
	padding: 1rem;
	font-size: 1.5rem;
}

.card__icon a {
	color:#418E43;
}

.card__icon a:hover {
	opacity: 0.75;
}

.card__footer {
	margin-top: auto;
}