


.about-section {
	background: #dfe9ff;
}

.site-features__wrapper {
	position: relative;
	margin-top: -8rem;
	background: #d6d8dc;
	border-radius: 5px;
	padding: 1.2rem;
	box-shadow: 0px 0px 19px 0px #7b7b7b;
}

.site-features {
	display: flex;
	justify-content: space-around;
}



@media screen and (max-width: 960px) {
	.site-features__wrapper {
		margin-top: -4rem;
	}
}