.navbar {
	position: fixed;
    /*margin-top: 9rem;*/
    width: 100%;
    z-index: 500;
    color: #ffffff;
}

.navbar__nav {
	display: flex;
	justify-content: space-between;
}

.navbar__bg--initial {
	background: none;
}

.navbar__bg--scroll {
	background: #418e42;
}


.navbar--clearfix {
	overflow: auto;
}

.navbar__ul {
	padding: 0;
}

.navbar__list-items {
	display: inline-flex;
	padding: 1rem 1.5rem;;
}

.navbar__list-items a {

	text-decoration: none;
	color: #ffffff
}

.navbar__list-items a:hover,
.navbar__list-items a:active {
	color: #e5e5e5;

}

@media screen and (max-width: 1023px) {
	.navbar__ul--left,
	.navbar__ul--right {
		display: none;
	}

	.navbar {
		display: inline-flex;
	}
}

@media screen and (min-width: 1024px) {
	.toggle-button {
		display: none;
	}
}