@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

html {
  height: 100%;
  box-sizing: border-box; 
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #418e42;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.section-wrapper {
  padding: 4rem 8rem;
  text-align: left;
  background: #ffffff;
}

.section-wrapper--grey {
  background: #f1f1f1;
}

@media screen and (max-width: 860px) {
  .section-wrapper {
    padding: 1rem 2rem;
  }
}